.card-container1 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;    
}     

body{
    font-family: 'Roboto', sans-serif;

}

.card1 {
position: absolute;  /* take it out of normal flow */
    top: 20px;           /* distance from top */
    right: 20px;         /* distance from right */
    width: 300px;        /* optional fixed width */
    background-color: white;
    border: 1px solid blue;
    padding: 20px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    text-align: center;
    border-radius: 10px;
}


.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
    
}

.card {
    flex: 1 1 30px;
    background-color: white;
    border: 1px solid blue;
    padding: 20px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    text-align: center;
    border-radius: 10px;
}
