/* Reset some default styles */
body, h1, h2, h3, p, button {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

/* Hero Section Background */
.hero-section {
    background-color: #1F2937;   
    color: white;
    padding: 40px 20px;
    position: relative;           
}

/* Header Logo top-right inside hero */
.hero-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
}
.nav-links {
    display: flex;
    gap: 30px;
    align-items: center;
}
.hero-header h3,
.nav-links h4{
    margin: 0;
    cursor: pointer;
   color: #E5E7EB;
   font-size: 18px;
}
.hero-text,
.card1 {
    min-height: 180px; 
}


/* Flex layout for hero text + card */
.top-section {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    gap: 40px;
    margin-top: 80px;
    flex-wrap: nowrap;
}



/* Hero text */
.hero-text p {
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 10px;
    max-width: 450px;
}


/* Top-Right Card */
.card1 {
    width: 450px;
    height: 250px;
    background-color: #6D747D;
    color: white;
    border: 1px gray;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Main Section Mini Cards */
.card-container {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.card {
    flex: 1 1 150px;
    max-width: 200px;
    min-height: 220px;
    width: 180px;
    background-color: white;
    border: 3px solid blue;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    text-align: center;
}

.sign-upcard {
    width: 900px;
    height: auto;
    background-color: #3882F6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 60px;
    
}
.sign-upcard p {
    color: white;
    font-size: 24px;
    max-width: 600px;
}

main h2{
    margin-top: 50px;
    margin-bottom: 50px;
}

/* Footer */
.site-footer {
    background-color: #333333;
    color: white;
    text-align: center;
    padding: 10px 20px;
}

.sign-upcard button {
    padding: 10px 25px;
    border: 2px solid white;
    background-color: transparent;
    border-radius: 8px;
}


.hero-text button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4A90E2;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.quote-section {
    background-color: #E5E7EB;
    padding: 80px;
    font-size: 36px;
    font-style: italic;
    color: #1F2937
          
}

.quote-section p {
    margin: 0;                   
}



